body
{
	margin: 0;
	padding: 0;
	background: #f3f3f3;
}


.center
{
	position: relative;
	left: 50%;
}

input[type="checkbox"]
{
	width: 80px;
	height: 40px;
	-webkit-appearance: none;
	background: #739E32;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 3px 3px 6px rgba(0,0,0,0.4);
	position: relative;
	transition: .5s;
}

input[type="checkbox"]:hover
{
	background: #AED77B;
}


input[type="checkbox"]:before
{
	content: '';
	background: radial-gradient(rgb(240, 239, 245), rgb(233, 237, 243), rgb(223, 230, 240));
	width: 40px;
	height: 40px;
	position: absolute;
	border-radius: 50%;
	top:0;
	left:0;
	transition: all .5s;
	z-index: 2;
}

input[type="checkbox"]:after
{
	content: 'ON';
	position: absolute;
	font-size: 1rem;
	color: #333;
	font-weight: 700;
	top:50%;
	left:50%;
	transform: translate(20%, -50%);
	z-index: 1;
}


input:checked[type="checkbox"]
{

	background: #9C301F;
}


input:checked[type="checkbox"]:before
{
	left: 50% ;
}


input:checked[type="checkbox"]:after
{
	content: 'OFF';
	left: 0;
	color: #FFF;
}

input:checked[type="checkbox"]:hover{

	background: #D97867;
}

input[type="text"]{
	width: 300px;
	border-color: #739E32;
} 

input[type="text"]:hover{
	width: 300px;
	border-color: #AED77B;
}