body
{
	margin: auto;
	padding: 0;
	background: #f3f3f3;
	-webkit-tap-highlight-color: transparent;
}


.center
{
    float: left;
	position: relative;
	left: 30px;
}

.marginleft
{
	margin: auto;
	position: relative;
	left: auto;
	top: 20px;
	align-content: center;
}


label{
	color: #739E32;
	font-size: 0.8rem;
	font-weight: 700;
}


button[type="submit"]
{
	background: #739E32;
	font-size: 0.8rem;
	font-weight: 700;
	color: white;
	outline: none;
	outline-color: #739E32;
}



.button
{
	background: #739E32;
	font-size: 0.8rem;
	font-weight: 700;
	color: white;
	outline: none;
	outline-color: #739E32;
}


button[type="submit"]:hover{
	background: #AED77B;
}	



h2, h5, .navbar-brand, .card-title{
	color: #739E32;
	font-size: 0.8rem;
	font-weight: 700;
}



.navbar-brand:hover{
	background: #AED77B;
}


	
.card-text, .client-active{
	color: #AED77B;
	font-size: 0.7rem;
	font-weight: 700;
}

li {
    float: left;
    list-style: outside none none;
    padding-left: 5px;
}

.pagin-nav {
	color: #739E32;
	font-size: 0.8rem;
	font-weight: 700;
}

/* paginaton css*/
.pagination, .ul, .li {
	border-width: 0;
}

.clients {
	color: #739E32;
	font-size: 0.8rem;
	font-weight: 700;
}

.clients a{
	color: #AED77B;
}


.clients a:hover ,.reservations a:focus , .reservations a:visited{
    color:red;
	background: #739E32;
}



.pagination > li > .desabled {
    background-color: #9e3244;
    color: #BF3E26;
	padding: 0, 0;
	border-width: unset;

}


.pagination > li > a,
.pagination > li > span{
    background-color: #739E32;
    color: black;
	border-width: 0px;
}
/*hover*/
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{
    background-color: #8CC544;
    color: #FFF;
}

.pagination > .active > span::after{
    background-color: #739E32;

}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
    background-color: #739E32;
    color: #ffffff;
    border: 1px solid #dddddd;
}

.pagination:active {
	border: 0rem;
}





/* END paginaton css*/

/*----------------------------------------------------------------*/

/*    begin enter  client name    */
input[id="clientname-list"]
{
	width: 200px;
	border-color: #739E32;
	border-color: #739E32;
}


input[id="clientname-list"]:hover
{	
	border-color: #AED77B;
}

input[id="clientname-list"]:active
{	
	border-color: #AED77B;
	border-color: #739E32;
}


input[id="clientid-list"]
{
	width: 200px;
	border-color: #739E32;
	border-color: #739E32;
}


input[id="clientid-list"]:hover
{	
	border-color: #AED77B;
}

input[id="clientid-list"]:active
{	
	border-color: #AED77B;
	color: #739E32;
}
/*    end enter  client name    */



/*----------------------------------------------------------------*/


/*   begin checkbox   */
input[type="checkbox"]
{
	width: 60px;
	height: 30px;
	-webkit-appearance: none;
	background: #9C301F;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 3px 3px 6px rgba(0,0,0,0.4);
	position: relative;
	transition: .5s;
}

input[type="checkbox"]:hover
{
	background: #D97867;
}


input[type="checkbox"]:before
{
	content: '';
	left: -3% ;
	font-size: 0.8rem;
	background: radial-gradient(rgb(240, 239, 245), rgb(233, 237, 243), rgb(223, 230, 240));
	background: #FFF;
	width: 36px;
	height: 30px;
	position: absolute;
	border-radius: 47%;
	transition: all .5s;
	z-index: 2;
}

input:checked[type="checkbox"]:before
{
	content: '';
	position: absolute;
	font-weight: 700;
	top: 0%;
	left:50%;
	transform: translate(0%, 0%);
	z-index: 1;
}


input:checked[type="checkbox"]
{
	background: #739E32;
}


input:checked[type="checkbox"]::before
{
	transform: translate(0%, 0%);
}


input[type="checkbox"]:after
{
	content: 'ON .OFF';
	position: absolute;
	font-size: 0.8rem;
	font-weight: 700;
	top: 18%;
	left: 12%;
	color: #FFF;
}

input:checked[type="checkbox"]:hover{
	background: #AED77B;
}



/*   begin checkbox   */




input[type="text"]{
	width: 200px;
	border-color: #739E32;
} 

input[type="text"]:hover{
	width: 200px;
	border-color: #AED77B;
}

