body
{
	margin: 0;
	padding: 0;
	background: #f3f3f3;
}


.center
{
	position: relative;
	left: 40%;
}

.marginleft
{
	position: relative;
	left: 30px;
	align-content: center;
}


label{
	color: #739E32;
	font-size: 0.8rem;
	font-weight: 700;
}


button[type="submit"]
{
	background: #739E32;
	font-size: 0.8rem;
	font-weight: 700;
	color: white;
	outline: none;
	outline-color: #739E32;
}



button[type="submit"]:hover{
	background: #AED77B;
}	



h2, .navbar-brand, .card-title{
	color: #739E32;
	font-size: 0.8rem;
	font-weight: 700;
}

	
.card-text, .client-active{
	color: #AED77B;
	font-size: 0.7rem;
	font-weight: 700;
}

.pagin-nav {
	color: #739E32;
	font-size: 0.8rem;
	font-weight: 700;
}


.page-link {
	background: #8CC544;
}



input[type="checkbox"]
{
	width: 60px;
	height: 30px;
	-webkit-appearance: none;
	background: #9C301F;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 3px 3px 6px rgba(0,0,0,0.4);
	position: relative;
	transition: .5s;
}

input[type="checkbox"]:hover
{
	background: #D97867;
}


input[type="checkbox"]:before
{
	content: '';
	left: -3% ;
	font-size: 0.8rem;
	background: radial-gradient(rgb(240, 239, 245), rgb(233, 237, 243), rgb(223, 230, 240));
	background: #FFF;
	width: 36px;
	height: 30px;
	position: absolute;
	border-radius: 47%;
	transition: all .5s;
	z-index: 2;
}

input:checked[type="checkbox"]:before
{
	content: '';
	position: absolute;
	font-weight: 700;
	top: 0%;
	left:50%;
	transform: translate(0%, 0%);
	z-index: 1;
}


input:checked[type="checkbox"]
{
	background: #739E32;
}


input:checked[type="checkbox"]::before
{
	transform: translate(0%, 0%);
}


input[type="checkbox"]:after
{
	content: 'ON .OFF';
	position: absolute;
	font-size: 0.8rem;
	font-weight: 700;
	top: 18%;
	left: 12%;
	color: #FFF;
}

input:checked[type="checkbox"]:hover{
	background: #AED77B;
}

input[type="text"]{
	width: 300px;
	border-color: #739E32;
} 

input[type="text"]:hover{
	width: 300px;
	border-color: #AED77B;
}