{% extends 'base.html.twig' %}

{% block title %}Client/Partenaire{% endblock %}

{% block body %}

<div class="container p-3 my-3 border row" >
    <div class="col col-sm-6" style="margin: 10px;">
        <div class="card-text">
            <a href="{{ path('app_client') }}">
                retour au page clients
            </a>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 d-flex justify-content-center">
        <div class="card-body"> 
            <div>
                <h5 class="card-title">client name - {{ client.getClientName() }}</h5>
                <div class="card-text">
                    client active - {{ client.isActive() }}<br>
                    client mail - {{ client.getClientMail() }}
                </div>
            </div>
        </div>
</div>


{% endblock %}